<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

   <!-- <bean id="video" class="net.xdclass.sp.domain.Video" scope="singleton">

        <property name="id" value="9"/>
        <property name="title" value="Spring 5.X课程"/>

    </bean>-->

    <bean id="video" class="net.xdclass.sp.domain.Video">
        <constructor-arg name="title" value="⾯试专题课程第⼀季"></constructor-arg>
    </bean>


    <bean id="videoOrder" class="net.xdclass.sp.domain.VideoOrder">
        <property name="id" value="8"/>
        <property name="outTradeNo" value="23432fnfwedwefqwef2"/>
        <property name="video" ref="video"/>
    </bean>


</beans>